*{
    font-family: 'Dhurjati', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
body {
    background-color: #F2F2F2;
}
.container {
    padding: 32px;
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
    background-color: #F8F8F8;
}
.header-mini {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.title {
    position: relative;
    display: block;
}
.title.title-lightbar:after {
    left: -32px;
    top: 7px;
    content: "";
    position: absolute;
    background-color: #41F6D7;
    height: 40px;
    width: 4px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.nav>ul {
    display: flex;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3E79;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.nav__link {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(38, 38, 38, 0.8);
    transition: .3s;
}
.nav__link:hover {
    color: black;
}
.nav>ul li:last-child .nav__link {
    margin-right: 0;
}
.nav__link>.circle {
    margin-left: 8px;
}
.tabs {
    display: flex;
    overflow: auto;
    margin-bottom: 15px;
}
.tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.tabs__item {
    flex-shrink: 0;
    color: #7E7E82;
    padding: 8px 18px 8px 18px;
     border: 2px #F8F8F8 solid;
    border-radius: 7px;
}
.tabs__item.active {
    border: 2px #B8FFEC solid;
}
.content {
    display: flex;
}
.content__description {
    width: 50%;
    margin-right: 40px;
}
p {
    color: #1B1C21;
}
.content img {
    min-width: 50%;
}
.content__more {
    border: none;
    background-color: #F8F8F8;
    font-weight: 600;
    color: #7E7E82;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
}
.content__more:hover {
    color: black;
    border-radius: 6px;
}
.content__more>object {
    margin-right: 16px;
}
.content__logo-image {
    max-width: 531px;
    max-height: 383px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.header {
    display: none;
}
.title-portable {
    display: none;
}
.header__nav__link {
    align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
    body {
    }
    .header {
        display:flex;
        justify-content: space-between;
    }
    .header>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header>ul>li {
        margin-right: 10px;
    }
    .header__left-part {
        display: flex;
        align-items: center;
    }
    .header__left-part>.header__nav__link {
        margin-right: 20px;
    }
    .header__nav__link__logo {
        width: 96px;
        height: 50px;
        margin-left: 20px;
    }
    .header__nav__link__divider {
        width: 2px;
        height: 32px;
    }
    .header-mini {
        display: none;
    }
    .title-portable {
        display: block;
    }
    .content__description {
        min-width: 50%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        padding: 0;
    }
    .header {
        background-color: #FFFFFF;
        padding: 20px 16px;
        display: flex;
        justify-content: space-between;
    }
    .hidden {
        display: none;
    }
    .header>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__left-part {
        display: flex;
        align-items: center;
    }
    .header__left-part>.header__nav__link {
        margin-right: 20px;
    }
    .header__nav__link__logo {
        width: 96px;
        height: 50px;
    }
    .header__nav__link__divider {
        width: 2px;
        height: 32px;
    }
    .header>ul>li {
        margin-left: 16px;
    }
    .header-mini {
        display: none;
    }
    .title-portable {
        position: relative;
        display: block;
        margin-left: 12px;
    }
    .title-portable.title-lightbar:before {
        top: 10px;
        left: -12px;
        content: "";
        position: absolute;
        background-color: #41F6D7;
        height: 40px;
        width: 4px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
    .tabs {
        margin: 20px 16px;
    }
    .content__description {
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
    }
    .content__description p:last-of-type {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .content__more {
        margin: 10px;
    }
    .content__more>object {
        margin-right: 16px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}